@import "tailwindcss";

/* Sora font */
@font-face {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 400, 600, 700;
  font-display: swap;
  src: url("./assets/fonts/Sora-VariableFont_wght.woff2") format("woff2");
}

@theme {
  /* Fonts */
  --font-sora: "Sora", sans-serif;

  /* Colors */
  --color-neutral-900: hsl(0, 0%, 7%);
  --color-neutral-800: hsl(0, 0%, 15%);
  --color-neutral-700: hsl(0, 0%, 23%);
  --color-neutral-500: hsl(240, 3%, 46%);
  --color-neutral-400: hsl(240, 1%, 59%);
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-blue-600: hsl(214, 100%, 55%);
  --color-blue-400: hsl(210, 100%, 65%);
  --color-red-500: hsl(354, 63%, 57%);
  --color-green-500: hsl(140, 63%, 57%);
  --color-yellow-500: hsl(49, 85%, 70%);

  /* Semantic colors */
  --color-border: var(--color-neutral-700);
  --color-muted: var(--color-neutral-400);
  --color-ring: var(--color-blue-400);
  --color-bg: var(--color-neutral-900);
  --color-text: var(--color-neutral-0);

  /* Font sizes */
  --text-3xl: 2.5rem; /* 40px */
  --text-2xl: 2rem; /* 32px */
  --text-xl: 1.5rem; /* 24px */
  --text-lg: 1.25rem; /* 20px */
  --text-md: 1.125rem; /* 18px */
  --text-base: 1rem; /* 16px */
  --text-sm: 0.75rem; /* 12px */

  /* Font weights */
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;

  /* Letter spacing */
  --tracking-tight: -0.03em;
  --tracking-snug: -0.02em;
  --tracking-normal: 0;
  --tracking-wide: 0.02em;
  --tracking-wider: 0.025em;

  /* Line heights */
  --leading-tight: 100%; /* headings */
  --leading-snug: 120%; /* body / labels */
  --leading-loose: 136%; /* large display text */

  /* Breakpoints */
  --breakpoint-xs: 41.25rem; /* 660px */
  --breakpoint-lg: 70rem; /* 1120px */

  /* Borders radius */
  --radius-sm: 0.25rem; /* 4px */
  --radius-md: 0.375rem; /* 6px */
  --radius-lg: 0.5rem; /* 8px */
  --radius-xl: 0.625rem; /* 10px */
  --radius-3xl: 0.75rem; /* 12px */
  --radius-4xl: 1rem; /* 16px */
  --radius-5xl: 1.25rem; /* 20px */
  --radius-6xl: 1.5rem; /* 24px */

  /* Semantic text */
  --text-display: var(--text-3xl);
  --text-heading: var(--text-2xl);
  --text-title: var(--text-xl);
  --text-body: var(--text-base);
  --text-caption: var(--text-sm);
}

@layer base {
  body {
    font-family: var(--font-sora);
    font-size: var(--text-body);
    font-weight: var(--font-regular);
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}

/* Utility classes for layouts */
@utility wrapper {
  width: 100%;
  max-width: 76rem; /* 1216px */
  margin-inline: auto;
  padding-inline: 1rem; /* 16px */

  @media (width >= 41.5rem) {
    padding-inline: 2rem; /* 32px */
  }
}

/* Utility classes for flexbox layouts */
@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Utility classes for typography*/
@utility text-preset-1 {
  font-size: var(--text-title);
  line-height: var(--leading-snug);
  letter-spacing: var(--tracking-wide);

  @media (width >= var(--breakpoint-xs)) {
    font-size: var(--text-display);
    line-height: var(--leading-loose);
    letter-spacing: var(--tracking-wider);
  }
}

@utility text-preset-2 {
  font-size: var(--text-title);
  font-weight: var(--font-bold);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-normal);
}

@utility text-preset-3 {
  line-height: var(--leading-snug);
  letter-spacing: var(--tracking-snug);

  @media (width >= 40rem) {
    font-size: var(--text-lg);
    line-height: var(--leading-snug);
    letter-spacing: var(--tracking-tight);
  }
}

@utility text-preset-4 {
  font-size: var(--text-md);
  line-height: var(--leading-snug);
  letter-spacing: var(--tracking-tight);
}

@utility text-preset-5 {
  line-height: var(--leading-snug);
  letter-spacing: var(--tracking-snug);
}

@utility text-preset-6 {
  font-size: var(--text-sm);
  line-height: var(--leading-snug);
  letter-spacing: var(--tracking-normal);
}

/* span {
  display: inline-block;
} */
